.CaseStudy {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 40px;
}

.CaseStudy-carousel {
  padding: 50px;
  display: flex;
  overflow: auto;
  gap: 30px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.CaseStudy-carousel::-webkit-scrollbar {
  display: none;
}

.CaseStudy-Direction {
  width: 100% !important;
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-right: 50px;
}

.CaseStudy-Box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 0 0 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



.CaseStudy-Img {
  height: 500px;
  width: 500px;
  object-fit: contain;
 
}

.CaseStudy-Info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CaseStudy-Info-Heading h1 {
  color: rgb(0, 133, 0) !important;
}

.CaseStudy-Info-Buttons{
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1200px) {

  .CaseStudy-Box {
    flex-direction: column;
    flex: 0 0 50%;
  }

  

  .CaseStudy-Info {
    gap: 30px;
  }
}

@media screen and (max-width: 700px) {
    .CaseStudy-carousel {
    padding: 10px;
    padding-block: 50px;
  }
  .CaseStudy-Img {
    height: 300px;
    width: 80vw;
  }

  .CaseStudy-Info{
    padding: 20px;
    
  }
}
