.Hero {
  display: flex;
  margin-top: 10px !important;
  border-radius: 10px !important;
  height: 700px !important;
  gap: 10px;
}

.Hero-info {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px !important;
}

.Hero-info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Hero-info-text-Hint{
  display: flex;
  align-items: center;
  gap: 20px;
}



.Hero-info-text-Hint-Image img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: -10px;
  background-color: white;
  
}

.Hero-info-text h1 {
  line-height: 110%;
}

.Hero-info-text-highlighted{
  background-color: white;
  width: max-content;
  height: 20%;
}

.Hero-info-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  
}

.Hero-info-buttons button{
  font-size: 30px !important;
  padding: 30px !important;
}

.Hero-Content {
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 10px;
  background-color: white !important;
  padding-inline: 20px;
  border-radius: 10px;
  
}

.Hero-Content-Section{
  overflow: hidden;
  padding: 10px;
}

.Hero-Content-Section::-webkit-scrollbar{
  display: none;
}

.Hero-Content-Section-Scroll1{
  animation: scrollYsUp  10s linear infinite;
}

.Hero-Content-Section-Scroll2{
  animation: scrollYsDown  10s linear infinite;
}

@keyframes scrollYsDown {
0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollYsUp {
100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-50%);
  }
}





.Hero-Content-Section-Card{
  /* height: 400px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
}

.Hero-Content-Section-Card img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


}



.Hero-Content-Section-Card-Info{
  padding: 20px ;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  
}



@media screen and (max-width: 1000px) {
  .Hero {
    /* flex-direction: column; */
  }

  .Hero-info {
    width: 100%;
    gap: 30px;
    padding: 30px;
  }

  .Hero-Content {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .Hero-Content-Child p{
    font-size: 16px  !important;
  }
}


@media screen and (max-width: 500px) {
  .Hero-Content-Child p{
    font-size: 10px  !important;
  }
  .Hero-Content-Child div{
    padding: 15px !important;
  }
}
