.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-inline: 50px;
  border-radius: 10px;
  position: sticky;
  top: 0%;
  z-index: 999;
  
}

.Navbar-Content {
  display: flex;
  align-items: center;
  gap: 10px;
}





.Navbar-Button {
  display: flex;
  gap: 10px;
}

.Navbar-Button-Small{
  display: none;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .Navbar {
    padding: 10px;
  }

  .Navbar-Menu {
    display: none;
  }

  .Navbar-Button{
    display: none;
  }

  .Navbar-Button-Small{
    display: flex;
  }

 
}
