.MoreInfo {
  display: flex !important;
  justify-content: space-between !important;
  padding: 50px;
}

.MoreInfo-img {
  width: 50%;
  background-color: whitesmoke;
}

.MoreInfo-img img {
  width: 100%;
}

.MoreInfo-Info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;

  padding-inline: 50px;
}

.MoreInfo-Info-Buttons {
  display: flex;
  gap: 10px;
}

.MoreInfo-Problem {
  padding: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}


.MoreInfo-Problem-Heading{
    width: 50%;
    line-height: 110%;
}

.MoreInfo-Problem-Parent {
  gap: 20px;
  display: grid;
  overflow: scroll;
}

.MoreInfo-Problem-Card {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  height: 600px;
  flex: 0 0 400px;
}

.MoreInfo-Problem-Card-Problem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.MoreInfo-Problem-Card-Solution {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.MoreInfo-Info-Text{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

@media screen and (max-width: 700px) {
    .MoreInfo-Problem-Card{
      flex-direction: column;
    }

    .MoreInfo {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
    }

    .MoreInfo-img{
      width: 100%;
    }

    .MoreInfo-Info{
      width: 100%;
    }

    .MoreInfo-Info-Buttons{
      padding-block: 50px;
    }

    

    .MoreInfo-Info{
      padding: 0px;
    }

    .MoreInfo-Problem{
      padding: 20px;
    }


    .MoreInfo-Problem-Heading{
      width: 100%;
    }
}
