.About {
  display: flex;
  padding: 50px;
  gap: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.About-Card-2 {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}




@media screen and (max-width: 1000px) {
  .About {
    flex-direction: column;
    padding: 20px;
  }
}
