.Compare{
    padding: 50px;
    border-radius: 10px !important;
    margin-top: 10px !important;
}

.Compare-Table{
 border-collapse: collapse;
  width: 100%;
  border-radius: 20px !important;
}


td, th {
  border: 1px solid whitesmoke;
  text-align: left;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  
}



